# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore batch files
*.bat



# Ignore Excel files
*.xlsx
*.xls

# Optional: system files
.DS_Store
Thumbs.db

# Added by Antigravity CLI
.env
.env.*
.env.local
.venv/
downloader.db
emails.db
env/
