# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore batch files
*.bat

# Ignore PDFs
*.pdf

# Ignore Excel files
*.xlsx
*.xls

# Optional: system files
.DS_Store
Thumbs.db
